<div class="jumbotron">
  <h1 class="display-3">Infinite Scrolling!</h1>
  <p class="lead">This is a sample infinte scrolling application. Where user can post and view all posts in infinite scrolling.</p>
  <hr class="m-y-2">
  <p>Please got to <strong>Add a Post</strong> page first, and some posts before opening <strong>All Posts</strong> link. For every scroll to end of the page will load 5 documents.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/add']" role="button">Add a Post</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/posts']" role="button">Show Me</a>
  </p>
</div>